<template>
	<div>
	<v-container fluid grid-list-xl>
 <v-layout row wrap>
		<v-flex class="xl3 lg3 md6 sm6 xs6 stats-widget-v3">
					<stats-card-v3
						icon="accessibility"
						:title="$t('message.totalNinosRegistrados')"
						:value="totalNinos"
						color="primary"

					>
					</stats-card-v3>
		
				</v-flex>
						<v-flex class="xl3 lg3 md6 sm6 xs6 stats-widget-v3">
					<stats-card-v3
						icon="remove_red_eye"
						:title="$t('message.totalVisitasRegistrados')"
						value=0
						color="primary"

					>
					</stats-card-v3>
		
				</v-flex>

	</v-layout>


	</v-container>

	</div>
</template>
<script>
// components
import StatsCardV3 from "Components/StatsCardV3/StatsCardV3";
import { mapGetters, mapActions } from "vuex";
import firebase from 'firebase';

export default {
  computed: {
    ...mapGetters(["totalNinos"])
  },
  components: {
    StatsCardV3
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions(["updateDash","createDashboardIfNotExists"])
  },

  mounted() {
	
		
		        			/**********************esto debe ir cuando inicia sesion****************************************** */
		let user = firebase.auth().currentUser;
console.log("ecomerce.vue user",user)
		//		this.$store.dispatch('createDashboardIfNotExists', user.uid);
			//		this.updateDash({ type: "equal" }); //solo actualiza
				/**************************************************************** */
  }
};
</script>