<template>
	<div>
		<page-title-bar></page-title-bar>
		<!-- eso es para que ssalga el circulo "loader" -->
		<app-section-loader :status="loader"></app-section-loader>

		<v-container fluid grid-list-xl py-0>

			<!-- <app-card :heading="$t('message.searchRow')" :fullBlock="true"> -->
	<app-card :fullBlock="true">
				<v-card-title>Niñas y Niños
					<v-spacer></v-spacer>
					<v-text-field 
						append-icon="search" 
							label="Buscar" single-line hide-details 
							v-model="search"
							>

					</v-text-field>
				</v-card-title>

				<v-data-table
				 	v-bind:headers="headers" 
					 v-bind:items="ninos" 
				 	v-bind:search="search"
					       :loading="loader"

					 >
					<template slot="items" slot-scope="props">


					  <td>{{ props.item.nombre }}</td>
						<td>{{ props.item.sexo }}</td>
						<td>{{ props.item.fechaNac }}</td>
						<td>{{ props.item.email }}</td>	
						<td>{{ props.item.tel1 }}</td>
						  <td class="justify-center layout px-0">
          <v-btn fab dark small  color="primary" @click="editProduct(props.item)">
          
						<v-icon  dark  >edit</v-icon>
          </v-btn>
          <v-btn fab dark small  color="error" @click="removeProduct(props.item)">
           		<v-icon  dark  >delete</v-icon>
          </v-btn>
        </td>


					</template>
					<template slot="pageText" slot-scope="{ pageStart, pageStop }">
						From {{ pageStart }} to {{ pageStop }}
					</template>
				</v-data-table>

			</app-card>

		</v-container>
	</div>
</template>

<script>
import firebase from "firebase";
import { database} from "../../firebase";



export default {
  data() {
    return {
      loader: true,
      max25chars: v => v.length <= 25 || "Input too long!",
      tmp: "",
      search: "",
      pagination: {},
      headers: [
        { text: "Nombre", align: "left", value: "nombre" },
        { text: "Sexo", value: "sexo", sortable: false },
        { text: "Fecha Nac.", value: "fechaNac" },
        { text: "Email", value: "email" },
				{ text: "Teléfono", value: "tel1", sortable: false },
				   {text: this.$t('message.actions'), value: 'name', sortable: false}
      ],
      ninos: []
    };
  },

  mounted() {
    this.getTablesData();
  },

  methods: {
    getTablesData() {
			let user = firebase.auth().currentUser;

      database.collection('ninos').onSnapshot(snapshot => {
						this.ninos = [];
							
            snapshot.forEach(snapNinos => {
						if (snapNinos.data().uid===user.uid){ 
							const nino = snapNinos.data();
							 //console.log(nino);
              this.ninos.push({
									nombre:nino.name,
									sexo:nino.sex,
									fechaNac:nino.fechaNac,
									email:nino.email,
									tel1:nino.tel1
							});

						}
						});
						this.loader = false;
          },
          error => {
            console.log("listener ninos admin off...");
          }
        );
		},
		  editProduct (product) {
        // this.$store.commit('toggleProductsDialog', {editMode: true, product});
      },
      removeProduct (product) {
   /*      db.collection('products').doc(product.id).delete().then(() => {
          if (product.url) {
            this.$store.dispatch('removeFile', product);
          }

          this.$store.commit('setAlertMessage', {
            show: true,
            type: 'success',
            message: this.$t('messages.deleted', {item: this.$t('common.product')}),
            timeout: 5000
          });
        }) */
      },
  }
};
</script>
