<template>
	<div>
		<page-title-bar></page-title-bar>
		<v-container fluid grid-list-xl py-0>
	<app-card
				:heading="$t('message.validationWithSubmitAndclear')"
				customClasses="mb-30"
				>
				<v-form v-model="form2.valid" ref="form" lazy-validation>
					<v-text-field
						label="Nombre Completo"
						v-model="form2.name"
						:rules="form2.nameRules"
						:counter="60"
						required
					></v-text-field>
 					
					<p>Sexo</p>
					<v-radio-group v-model="form2.radios" :mandatory="false" row >
      				<v-radio label="Masculino" value="Masculino"></v-radio>
      				<v-radio label="Femenino" value="Femenino"></v-radio>
    				</v-radio-group>
					
			
					<v-menu
					ref="menu2"
					:close-on-content-click="false"
					v-model="menu2"
					:nudge-right="40"
					:return-value.sync="form2.date"
					lazy
					transition="scale-transition"
					offset-y
					full-width
					min-width="290px"
					>
					   <v-text-field
          				slot="activator"
          				v-model="form2.date"
          				label="Seleccione la fecha de nacimiento"
          				prepend-icon="event"
         				 readonly
        				></v-text-field>
        				<v-date-picker   v-model="form2.date" @input="$refs.menu2.save(form2.date)"></v-date-picker>
					</v-menu>
					
						<v-text-field
						label="Teléfono de contacto "
						v-model="form2.tel1"
						:rules="form2.telRules"
						:counter="8"
						required
					></v-text-field>

					<v-text-field
						label="E-mail (madre/padre/encargado)"
						v-model="form2.email"
						:rules="form2.emailRules"
						required
					></v-text-field>
					<!-- <v-select
						label="Item"
						v-model="form2.select"
						:items="form2.items"
						:rules="[v => !!v || 'Item is required']"
						required
					></v-select>
					<v-checkbox
						label="Do you agree?"
						v-model="form2.checkbox"
						:rules="[v => !!v || 'You must agree to continue!']"
						required
					></v-checkbox> -->



   <v-expansion-panel
      v-model="panel"
      expand
    >
	 <v-expansion-panel-content

      >
	  <div slot="header">Datos adicionales</div>
        <v-card>
         
     
          <v-text-field
            label="Nombre de la madre"
          ></v-text-field>
  
		 
          <v-text-field
            label="Nombre del Padre"
          ></v-text-field>
     

  </v-card>
	     </v-expansion-panel-content>
    </v-expansion-panel>

<br>

					<v-btn
						@click="submit"
						:disabled="!form2.valid"
						color="success"
					>
						{{$t("message.submit")}}
					</v-btn>
					<v-btn @click="clear" color="primary">{{$t("message.clear")}}</v-btn>
				</v-form>
			</app-card>
		</v-container>

	</div>
</template>
<script>
import firebase from "firebase";
import { database} from "../../firebase";
  import {mapActions} from 'vuex';

export default {
  data() {
    return {
      modal: false,
      menu: false,
      menu2: false,
      panel: [false],
type:'increment',
      form2: {
        valid: true,
        radios: "Masculino",
        tel1: "12345678",
        date: null,

        name: "Thiago",
        telRules: [
          v => !!v || "Numero es requerido",
          v => (v && v.length == 8) || "El número debe ser de 8 digitos"
        ],
        nameRules: [
          v => !!v || "Nombre es  requerido",
          v => (v && v.length <= 10) || "Name must be less than 10 characters"
        ],
        email: "mail@gmail.com",
        emailRules: [
          v => !!v || "E-mail is required",
          v =>
            /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
            "E-mail must be valid"
        ],
        select: null,
        items: ["Item 1", "Item 2", "Item 3", "Item 4"],
        checkbox: false
      }
    };
  },
  methods: {
		//https://scotch.io/tutorials/getting-started-with-firebase-cloud-firestore-build-a-vue-contact-app
		...mapActions(['updateDash']),
    submit() {
      if (this.$refs.form.validate()) {
				console.log("se ingreso niño regnunovue:",this.form2.name);
			 //database.collection('user').doc('roomA')
       let ninoDetail = {
					id:"1312",
					uid:null,
					name: this.form2.name,
					tel1:this.form2.tel1,
          email: this.form2.email,
					sex :this.form2.radios,
					fechaNac:this.form2.date
        };
  		 this.$store.dispatch("ninoIngresadoInFirebase", {
					ninoDetail,
					router: this.$router
				});
	
		this.updateDash({type:'increment'});
      }
    },
    clear() {
      this.$refs.form.reset();
    }
	},
	  
};
</script>
