<template>
	<div>
		<page-title-bar></page-title-bar>
		<v-container fluid grid-list-xl pt-0>

		<div class="profile-body">
				<v-layout row wrap>
					<v-flex xs12 md5 lg4>
						<app-card
							customClasses="mb-30"
						>
							<contact-request></contact-request>
						</app-card>
						<app-card
							heading="Información"
							customClasses="mb-30"
							:fullScreen="true" 
							:reloadable="true" 
							:closeable="true"
							:fullBlock="true"
						>
							<education></education>
						</app-card>
					
					</v-flex>
					<v-flex xs12 md7 lg8>
						<app-card
							heading="Activity"
						>
							<user-activity></user-activity>
						</app-card>
					</v-flex>
				</v-layout>
			</div>

		</v-container>
	</div>
</template>
<script>
// components
import UserDetail from "Components/Widgets/UserDetail";
import Education from "Components/Widgets/Education";
import ContactRequest from "Components/Widgets/ContactRequest";
import UserActivity from "Components/Widgets/UserActivity";

export default {
  components: {
	UserDetail,

    Education,
    ContactRequest,
    UserActivity
  },
  data() {
    return {};
  }
};
</script>