<!-- Side Structure -->
<template>
  	<div class="sidebar" :class="sidebarSelectedFilter.class">
    	<vue-perfect-scrollbar class="scroll-area" :settings="settings">
        <v-toolbar flat class="transparent scroll-area navigation">
          <v-list>
				<app-logo></app-logo>
            <user-block></user-block>
            <!-- <div class="sidebar-title px-3">
              <span>{{$t("message.general")}}</span>
            </div> -->
			  <template v-for="item in category0">
					<template v-if="item.items!= null">
						<v-list-group
							:key="item.title"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="item.active"
						>
							<v-list-tile slot="activator">
								<v-list-tile-content>
									<v-list-tile-title>
										<i class="mr-2 zmdi" :class="item.action"></i>
										<span>{{ textTruncate($t(item.title)) }}</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-list-tile 
								v-for="subItem in item.items" 
								v-bind:key="subItem.title" 
								v-if="subItem !== null"
								:to="!subItem.exact ? `/${getCurrentAppLayoutHanlder() + subItem.path}` : subItem.path"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate($t(subItem.title)) }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
					</template>
					<template v-else>
						<v-list-tile
							:to="!item.exact ? `/${getCurrentAppLayoutHanlder() + item.path}` : item.path"
							:key="item.path"
						>
							<v-list-tile-action>
								<i class="zmdi zmdi-caret-right"></i>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>
									<i class="mr-2 zmdi" :class="item.action"></i>
									<span>{{ textTruncate($t(item.title)) }}</span>
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</template>
            </template>

 <template v-for="item in category1">
					<template v-if="item.items!= null">
						<v-list-group
							:key="item.title"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="item.active"
						>
							<v-list-tile slot="activator">
								<v-list-tile-content>
									<v-list-tile-title>
										<i class="mr-2 zmdi" :class="item.action"></i>
										<span>{{ textTruncate($t(item.title)) }}</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-list-tile 
								v-for="subItem in item.items" 
								v-bind:key="subItem.title" 
								v-if="subItem !== null"
								:to="!subItem.exact ? `/${getCurrentAppLayoutHanlder() + subItem.path}` : subItem.path"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate($t(subItem.title)) }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
					</template>
					<template v-else>
						<v-list-tile
							:to="!item.exact ? `/${getCurrentAppLayoutHanlder() + item.path}` : item.path"
							:key="item.path"
						>
							<v-list-tile-action>
								<i class="zmdi zmdi-caret-right"></i>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>
									<i class="mr-2 zmdi" :class="item.action"></i>
									<span>{{ textTruncate($t(item.title)) }}</span>
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</template>
            </template>  


 <template v-for="item in category2">
					<template v-if="item.items!= null">
						<v-list-group
							:key="item.title"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="item.active"
						>
							<v-list-tile slot="activator">
								<v-list-tile-content>
									<v-list-tile-title>
										<i class="mr-2 zmdi" :class="item.action"></i>
										<span>{{ textTruncate($t(item.title)) }}</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-list-tile 
								v-for="subItem in item.items" 
								v-bind:key="subItem.title" 
								v-if="subItem !== null"
								:to="!subItem.exact ? `/${getCurrentAppLayoutHanlder() + subItem.path}` : subItem.path"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate($t(subItem.title)) }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
					</template>
					<template v-else>
						<v-list-tile
							:to="!item.exact ? `/${getCurrentAppLayoutHanlder() + item.path}` : item.path"
							:key="item.path"
						>
							<v-list-tile-action>
								<i class="zmdi zmdi-caret-right"></i>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>
									<i class="mr-2 zmdi" :class="item.action"></i>
									<span>{{ textTruncate($t(item.title)) }}</span>
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</template>
            </template>  



 <template v-for="item in category3">
					<template v-if="item.items!= null">
						<v-list-group
							:key="item.title"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="item.active"
						>
							<v-list-tile slot="activator">
								<v-list-tile-content>
									<v-list-tile-title>
										<i class="mr-2 zmdi" :class="item.action"></i>
										<span>{{ textTruncate($t(item.title)) }}</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-list-tile 
								v-for="subItem in item.items" 
								v-bind:key="subItem.title" 
								v-if="subItem !== null"
								:to="!subItem.exact ? `/${getCurrentAppLayoutHanlder() + subItem.path}` : subItem.path"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate($t(subItem.title)) }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
					</template>
					<template v-else>
						<v-list-tile
							:to="!item.exact ? `/${getCurrentAppLayoutHanlder() + item.path}` : item.path"
							:key="item.path"
						>
							<v-list-tile-action>
								<i class="zmdi zmdi-caret-right"></i>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>
									<i class="mr-2 zmdi" :class="item.action"></i>
									<span>{{ textTruncate($t(item.title)) }}</span>
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</template>
            </template>  



 <template v-for="item in category4">
					<template v-if="item.items!= null">
						<v-list-group
							:key="item.title"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="item.active"
						>
							<v-list-tile slot="activator">
								<v-list-tile-content>
									<v-list-tile-title>
										<i class="mr-2 zmdi" :class="item.action"></i>
										<span>{{ textTruncate($t(item.title)) }}</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-list-tile 
								v-for="subItem in item.items" 
								v-bind:key="subItem.title" 
								v-if="subItem !== null"
								:to="!subItem.exact ? `/${getCurrentAppLayoutHanlder() + subItem.path}` : subItem.path"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate($t(subItem.title)) }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
					</template>
					<template v-else>
						<v-list-tile
							:to="!item.exact ? `/${getCurrentAppLayoutHanlder() + item.path}` : item.path"
							:key="item.path"
						>
							<v-list-tile-action>
								<i class="zmdi zmdi-caret-right"></i>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>
									<i class="mr-2 zmdi" :class="item.action"></i>
									<span>{{ textTruncate($t(item.title)) }}</span>
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</template>
            </template>  





 <template v-for="item in category5">
					<template v-if="item.items!= null">
						<v-list-group
							:key="item.title"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="item.active"
						>
							<v-list-tile slot="activator">
								<v-list-tile-content>
									<v-list-tile-title>
										<i class="mr-2 zmdi" :class="item.action"></i>
										<span>{{ textTruncate($t(item.title)) }}</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-list-tile 
								v-for="subItem in item.items" 
								v-bind:key="subItem.title" 
								v-if="subItem !== null"
								:to="!subItem.exact ? `/${getCurrentAppLayoutHanlder() + subItem.path}` : subItem.path"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate($t(subItem.title)) }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
					</template>
					<template v-else>
						<v-list-tile
							:to="!item.exact ? `/${getCurrentAppLayoutHanlder() + item.path}` : item.path"
							:key="item.path"
						>
							<v-list-tile-action>
								<i class="zmdi zmdi-caret-right"></i>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>
									<i class="mr-2 zmdi" :class="item.action"></i>
									<span>{{ textTruncate($t(item.title)) }}</span>
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</template>
            </template>  





						
          </v-list>
        </v-toolbar>
    	</vue-perfect-scrollbar>
  	</div>
</template>

<script>
import UserBlock from "./UserBlock";
import {
  category0, category1 ,category2, 	category3, category4, category5
} from "./SidebarLinks";
import { textTruncate, getCurrentAppLayout } from "Helpers/helpers";
import { mapGetters } from "vuex";
import AppLogo from "Components/AppLogo/AppLogo";

export default {
  data() {
    return {category0,
			category1,
			category2,
				category3,
					category4,
					category5,
      settings: {
        maxScrollbarLength: 160
      }
    };
  },
  components: {
    UserBlock,
    AppLogo
  },
  computed: {
    ...mapGetters(["sidebarSelectedFilter"])
  },
  methods: {
    textTruncate(text) {
      return textTruncate(text, 22);
    },
    getCurrentAppLayoutHanlder() {
      return getCurrentAppLayout(this.$router);
    }
  }
};
</script>
