<template>
  <v-app
	:dark="darkMode"
	id="inspire"
	:class="[{ 
		'box-layout': boxLayout, 
		'collapse-sidebar': collapseSidebar, 
		'rtl-layout': rtlLayout
	}]"
  >
  <!-- <router-view :auth="auth" :authenticated="authenticated"></router-view> -->
  <!--  <v-content v-if="$store.state.loaded"> -->
     <router-view />
        
     <!--  </v-content> -->

  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import firebase from 'firebase';

//import AuthService from "./auth/AuthService";


//const auth = new AuthService();

//const { login, logout, authenticated, authNotifier } = auth;
//const {  authenticated,authNotifier } = auth;

export default {
  data() {
  /*  authNotifier.on("authChange", authState => {

     this.authenticated = authState.authenticated;
     console.log("app.vue authenticated",authState)
    
   });
   return {
   auth,
    authenticated
    };*/
 return {

 }
 
  },
    methods: {
    setUser: function() {
      this.$store.dispatch('setUser');
    }
  },
   created() {
    // when the app is created run the set user method
    // this uses Vuex to check if a user is signed in
    // check out mutations in the store.js file
    this.setUser();
  },
  mounted() {
    if (
      this.selectedLocale.locale === "he" ||
      this.selectedLocale.locale === "ar"
    ) {
      this.$store.dispatch("rtlLayout");
    }

  },
  computed: {
    ...mapGetters([
      "darkMode",
      "collapseSidebar",
      "boxLayout",
      "rtlLayout",
      "selectedLocale"
    ])
  }
};
</script>
