<template>
	<div class="session-wrapper">
		<div class="session-left">
			 <session-slider-widget></session-slider-widget> 
		</div>
		<div class="session-right text-xs-center">
			<div class="session-table-cell">
				<div class="session-content">
					<img 
						:src="appLogo"
						class="img-responsive mb-3" 
						width="78" 
						height="78" 
					/>
					<h2 class="mb-3">{{$t('message.loginToAdmin')}}</h2>
					<p class="fs-14">{{$t('message.enterUsernameAndPasswordToAccessControlPanelOf')}} {{brand}}.</p>
					<v-form v-model="valid" class="mb-4">
						<v-text-field 
							label="E-mail ID" 
							v-model="email" 
							:rules="emailRules" 
							required
						></v-text-field>
						<v-text-field 
							label="Password" 
							v-model="password" 
							type="password" 
							:rules="passwordRules" 
							required
						></v-text-field>
						<v-checkbox 
							color="primary" 
							label="Remember me" 
							v-model="checkbox"
						></v-checkbox>
						<div>
							<v-btn large v-on:click="signIn" block color="primary">{{$t('message.loginNow')}}</v-btn>
							<v-btn large @click="onCreateAccount" block color="warning">{{$t('message.createAccount')}}</v-btn> 
						</div>
						<p>{{$t('message.bySigningUpYouAgreeTo')}} {{brand}}</p>
						<!-- <router-link to="">{{$t('message.termsOfService')}}</router-link> -->
					</v-form>
	 	<div class="session-social-links d-inline-block">
			 		<li @click="signInWithGoogle">
								<span class="google-bg session-icon">
									<i class="ti-google"></i>
								</span>
							</li>
								<!--	<ul class="list-inline">
							<li @click="signInWithFacebook">
								<span class="facebook-bg session-icon">
									<i class="ti-facebook"></i>
								</span>
							</li>
					
							<li @click="signInWithTwitter">
								<span class="twitter-bg session-icon">
									<i class="ti-twitter-alt"></i>
								</span>
							</li>
							<li @click="signInWithGithub">
								<span class="github-bg session-icon">
									<i class="ti-github"></i>
								</span>
							</li>
						</ul>
						<v-btn 
							color="error" 
							@click="signinWithAuth0"
						>
							Signin With Auth0
						</v-btn> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import firebase from "firebase";
import Firebase from "firebase";
import { mapGetters } from "vuex";
import SessionSliderWidget from "Components/Widgets/SessionSlider";
import AppConfig from "Constants/AppConfig";
import {
	store
} from '../../store/store';

import { database} from "../../firebase";
//import AuthService from "../../auth/AuthService";

//const auth = new AuthService();
//const { login, logout, authenticated, authNotifier } = auth;

export default {
  components: {
    SessionSliderWidget
  },
  data() {
    return {
      checkbox: false,
      valid: false,
      email: "mynor@gmail.com",
      emailRules: [
        v => !!v || "E-mail is required",
        v =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      password: "123456",
      passwordRules: [v => !!v || "Password is required"],
      appLogo: AppConfig.appLogo2,
      brand: AppConfig.brand
    };
	},
	
  methods: {
      signIn: function() {
     
			 Firebase.auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            this.$router.replace('dashboard');
          },
          error => {
            alert(error.message);
          }
        );
		/*
      this.$store.dispatch("signinUserInFirebase", {
				user
				
			}); */
	//	this.$store.commit('setUser', user);
			/*
			
		    this.$store.dispatch('firebaseLogin', user)
          .then(data => {
						
						//console.log(data)
            database.collection('users').doc(data.user.uid).onSnapshot(snapshot => {
		this.$store.commit('setUser', user);
					 //   this.$router.push('/');
					     this.$router.push("/default/dashboard/ecommerce");
            })
          })
          .catch((error) => {
         //   this.message = error.message.substr(0, 60);
				//    this.snackBar = true;
				
				console.log (error.message)
            setTimeout(() => {
        //      this.snackBar = false;
            }, this.timeout);
          })
			

*/
		},
		 onCreateAccount() {
      this.$router.push("/session/sign-up");
		},
		signInWithGoogle() {
      this.$store.dispatch("signinUserWithGoogle");
    },
/*     signInWithFacebook() {
      this.$store.dispatch("signinUserWithFacebook");
    },
    
    signInWithTwitter() {
      this.$store.dispatch("signinUserWithTwitter");
    },
    signInWithGithub() {
      this.$store.dispatch("signinUserWithGithub");
    },
   
    signinWithAuth0() {
      login();
    } */
  }
};
</script>
